<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WsHospital2Cliente</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>servlets.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarPaciente</display-name>
    <servlet-name>BuscarPaciente</servlet-name>
    <servlet-class>servlets.BuscarPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPaciente</servlet-name>
    <url-pattern>/BuscarPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetallePaciente</display-name>
    <servlet-name>DetallePaciente</servlet-name>
    <servlet-class>servlets.DetallePaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetallePaciente</servlet-name>
    <url-pattern>/DetallePaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HCE</display-name>
    <servlet-name>HCE</servlet-name>
    <servlet-class>servlets.HCE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HCE</servlet-name>
    <url-pattern>/HCE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoraMedica</display-name>
    <servlet-name>HoraMedica</servlet-name>
    <servlet-class>servlets.HoraMedica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoraMedica</servlet-name>
    <url-pattern>/HoraMedica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RCE</display-name>
    <servlet-name>RCE</servlet-name>
    <servlet-class>servlets.RCE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RCE</servlet-name>
    <url-pattern>/RCE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalleHoraMedica</display-name>
    <servlet-name>DetalleHoraMedica</servlet-name>
    <servlet-class>servlets.DetalleHoraMedica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalleHoraMedica</servlet-name>
    <url-pattern>/DetalleHoraMedica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearRce</display-name>
    <servlet-name>CrearRce</servlet-name>
    <servlet-class>servlets.CrearRce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearRce</servlet-name>
    <url-pattern>/CrearRce</url-pattern>
  </servlet-mapping>
</web-app>